
.App {
  min-height: 800px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 280px;
  width: 100%;
  text-align: center;
  position: fixed;
  padding: 0;
  overflow: hidden;
  z-index: 10;
}

.App-header img {
  width: 100%;
}

.App main.container {
  padding-top: 300px;
}

.list-group-item.slider {
  min-height: 0px;

  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.list-group-item.slider.expanded {
  min-height: 116px; /* approximate max height */
}

.list-group-item.slider[!not=.expanded]{
  min-height: 0px; /* approximate max height */
}

.list-group-item {
  padding: 10px 15px;
}

li textarea.form-control {
  border: 0;
  display: inline-block;
  margin-left: -15px;
  margin-top: -10px;
  padding-left: 15px;
}

li textarea.form-control:focus {
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.list-group-item {
}
