
.App {
  min-height: 800px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list-group-item.slider {
  overflow-y: hidden;
  max-height: 0px; /* approximate max height */
  padding: 0px 15px;

  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.list-group-item.open {
  max-height: 100px;
  padding: 10px 15px;
}

.list-group-item.closed {
  max-height: 0;
}

li textarea.form-control {
  border: 0;
  display: inline-block;
  margin-left: -15px;
  margin-top: -10px;
  padding-left: 15px;
}

li textarea.form-control:focus {
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.list-group-item {
}
